#calendar {
  margin: 20px;
}

/* width */
#spots::-webkit-scrollbar {
  height: 5px;
}

/* Track */
#spots::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  border-radius: 0px;
}

/* Handle */
#spots::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

/* Handle on hover */
#spots::-webkit-scrollbar-thumb:hover {
  background: gray;
}

ul.spots{
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  background-color: white;
}
ul.spots li {
  display: inline;
  height: 300px;
}

img:hover{
  filter: grayscale(5%);
}

.grid{
  stroke: #bcbdbf;
  stroke-width:1
}
.vgrid{
  stroke: #bcbdbf;
  stroke-width:1
}

.day.hover {
  stroke: #6d6E70;
  stroke-width: 2;
}
.day.focus {
  stroke: #ffff33;
  stroke-width: 2;
}
.daylabel{
  font-family: "Helvetica Neue";
  font-size: 12px;
}
.timelabel{
  font-family: "Helvetica Neue";
  font-size: 12px
}
.weeklabel{
  font-family: "Helvetica Neue";
  font-size: 16px
}
.absent{
  fill-opacity: 1;
  fill: lightgray;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 30px;
  padding: 2px;
  font: 12px "Helvetica Neue";
  background: whitesmoke;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#tutors{
  display: grid;
  width: 900px;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  grid-column-gap: 5px;
}
div.tutor{
  display: grid;
  width: 445px;
  grid-column-gap: 5px;
  grid-template-columns: 160px auto;
  margin: 10px;
}
div.image{
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 3px solid #555;
  border-radius: 6px;
  vertical-align: middle;
  display: inline-block;
  opacity: 0.9;
}
.image div{
  position: absolute;
  bottom: 5px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 2px 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  font-family: "Open Sans";
}
h2.name{
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0px;
  color: black;
  font-weight: normal;
}
div.content{
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  color: #444444;
}
div.content p{
  margin-top: 5px;
  margin-bottom: 0px;
}

body{
  width: 960px;
  font-family: "Open Sans";
  margin-left:20px;
  font-weight: 400;
  font-size: 14px;
}
img {
  filter: grayscale(100%);
}
.menu {
  background: #6d6E70;
  width: 100%;
  height: 40px;
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0px;
  z-index: 100;
}
.menu a{
  float: right;
  color: white;
  text-decoration: none;
  margin: 10px;
}

a{
  text-decoration: none;
}
h2 {
  font-family: "Helvetica Neue";
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0px;
  color: midnightblue;
  text-transform: uppercase;
  border-top: 1px solid;
}
